* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #555;
  background: #ecf0f3;
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kt-div {
  width: 75%;
  padding: 20px 35px 15px 35px;
  margin-top: 20px;
  border-radius: 35px;
  background: #ecf0f3;
  box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.8),
    6px 6px 6px rgba(0, 0, 0, 0.2);
}

.kt-logo {
  background: url("https://img.freepik.com/free-photo/feedback-survey-response-advice-suggestions_53876-125410.jpg?t=st=1650608257~exp=1650608857~hmac=4dc2b494722b79781f9a196777178d0480148832bf913a32b2e386851ca724a5&w=740");
  background-position: 50% 50%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 75px;
  cursor: pointer;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}

.kt-title {
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
  color: #5ed887;
}

.kt-sub-title {
  /* text-align: center; */
  font-size: 17px;
  font-weight: normal;
  color: #5eaa77;
}

.kt-text {
  /* text-align: center; */
  font-size: 15px;
  font-weight: normal;
  padding-top: 15px;
  color: #5eaa77;
}

.kt-questions {
  display: flex;
  justify-content: space-between;
}

.kt-question {
  width: 50%;
  justify-self: start;
  padding: 20px;
}

.kt-input-fields {
  width: 100%;
  padding: 20px 5px 20px 5px;
  display: flex;
  justify-content: space-around;
}

.kt-input-fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 15px 10px 15px 5px;
}

.kt-email,
.kt-name,
.kt-mobile {
  margin: 20px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
}

.kt-input-fields object {
  height: 22px;
  margin: 0 10px -3px 25px;
}

.kt-buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.kt-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 60px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background: #67d18a;
  box-shadow: 7px 7px 8px #cbced1, -7px -7px 8px #ffffff;
  transition: 0.5s;
}

.kt-button:hover {
  background: #5fb87d;
}

.kt-button:active {
  background: #4a9764;
}

.kt-link {
  padding-top: 20px;
  text-align: center;
}

.kt-link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
  transition: 0.5s;
}

.kt-link a:hover {
  text-decoration: none;
  color: #67d18a;
  font-size: 15px;
}

/*Radio Button*/
.radiogroup {
  padding-left: 10px;
  padding-top: 20px;
}

.wrapper {
  margin: 8px 0;
}

.state {
  position: absolute;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.text {
  margin-left: 16px;
  opacity: 0.6;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
  background-color: #d1d9e6;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow: -4px -2px 4px 0px #d1d9e6, 4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #ecf0f3;
  box-shadow: -4px -2px 4px 0px #fff, 4px 2px 8px 0px #d1d9e6;
  transform: scale3d(1, 1, 1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1) translate3d(0, 10%, 0);
  opacity: 0;
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}

/* Text area */
textarea {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  min-height: 8rem;
  margin-top: 20px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  background: #ffffff;
  border: none;
  border-radius: 1rem;
  outline: none;
  /* box-shadow: 18px 18px 30px #d1d9e9, -18px -18px 30px #ffffff; */
  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
  resize: vertical;
  transition: ease 0.2s;
}

textarea::placeholder {
  color: #5eaa77;
  font-size: large;
}

/* textarea:focus {
  min-height: 12rem;
  box-shadow: inset 18px 18px 30px #d1d9e9, inset -18px -18px 30px #ffffff;
} */

textarea:placeholder-shown {
  background: none;
}

/* Top Error Box */
.error-box {
  padding: 20px 60px;
  margin-bottom: 20px;
  border-radius: 16px;
  color: #ff3333;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

/* Dashboard */
.kt-logout {
  align-self: flex-end;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 1.1em;
  border-radius: 40px;
  border-style: none;
  color: #ff3333;
  font-weight: normal;
  background-color: #ecf0f3;
  box-shadow: -4px -2px 4px 0px #fff, 4px 2px 8px 0px #d1d9e6;
}

.kt-logout:active {
  box-shadow: -4px -2px 4px 0px #d1d9e6, 4px 2px 8px 0px #fff;
}
